{% extends 'base.html' %}

{% load static %}

{% block main %}

    <main class="text-white">
      <div class="container">
        <div class="px-4 py-5 my-5 text-center">
          <h1 class="display-5 fw-bold">Acerca de</h1>
          <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Página elaborada por <strong>Ramiro López</strong> como parte de una tarea del curso de Desarrollo Web del 8vo ciclo de Ingeniería en sistemas de información y ciencias de la computación en la Universidad Mariano Gálvez, sede San Pedro, San Marcos.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
              <h2>Datos personales</h3>
              <table class="table text-white">
                  <tr>
                      <td><b>Nombre:</b></td>
                      <td>Ramiro López</td>
                  </tr>
                  <tr>
                      <td><b>Carné:</b></td>
                      <td>0903-18-15570</td>
                  </tr>
                  <tr>
                      <td><b>E-mail:</b></td>
                      <td>rlopezv11@miumg.edu.gt</td>
                  </tr>
                </table>
              </div>
            </div>

            <br>
            <br>
            <h4>Instrucciones de HTML</h4>
            <object data="{% static 'docs/Actividad_1_1.pdf' %}" type=""></object>
            <h4>Instrucciones de CSS</h4>
            <object data="{% static 'docs/Actividad_1_3.pdf' %}" type=""></object>
            <h4>Instrucciones de Bootstrap</h4>
            <object data="{% static 'docs/Actividad_4.pdf' %}" type=""></object>
            <h4>Instrucciones de JavaScript</h4>
            <object data="{% static 'docs/Actividad_5_1.pdf' %}" type=""></object>
        </div>
      </div>
    </main>
    
{% endblock %}