{% extends 'base.html' %}

{% block main %}
    <main class="text-white">
      <div class="container">
        <div class="px-4 py-5 my-5 text-center">
          <h1 class="display-5 fw-bold">Listado de administradores</h1>
          <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Aquí encontrarás el listado de administradores de la institución educativa.</p>


            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              Agregar Autorizador
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered text-dark">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Información del autorizador</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    
                    <h2>Crear Autorizador</h2>
                    <form method="POST">
                        {% csrf_token %}
                        Nombre {{ form.nombre }}
                        <br>
                        <br>
                        Apellido {{ form.apellido }}
                        <br>
                        <br>
                        <input type="submit" class="btn btn-primary" name="Enviar">
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>


            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
              <table id="dataTable" class="table text-white">
                <tr>
                  <td>No</td>
                  <td>Perfil</td>
                  <td>Nombre</td>
                  <td>Apellido</td>
                </tr>
                {% for est in object_list %}
                  <tr>
                    <td> {{ est.id }} </td>
                    <td><img class="profile-image" src="https://img1.freepng.es/20181110/spz/kisspng-computer-icons-login-scalable-vector-graphics-emai-5be73768cb2288.8298339815418796568321.jpg" alt="Profile Icon" width="35px" height="35px"></td>
                    <td>{{ est.nombre }}</td>
                    <td>{{ est.apellido }}</td>
                  </tr>
                {% endfor %}
              </table>
            </div>
            
          </div>
        </div>

      </div>
    </main>

{% endblock %}