{% extends 'base.html' %}

{% block main %}
    
    <main class="text-white">
      
      <div class="container">
        <div class="px-4 py-5 my-5 text-center">
          <h1 class="display-5 fw-bold">Publicaciones de Estudiantes</h1>
          <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">En este apartado encontrará las publicaciones hechas por estudiantes del curso de Desarrollo Web de la Universidad Mariano Gálvez, sede San Pedro, San Marcos.</p>
            

            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              Agregar Publicación
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered text-dark">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Información de la publicación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    
                    <h2>Crear Publicación</h2>
                    <form method="POST">
                        {% csrf_token %}
                        Titulo {{ form.titulo }}
                        <br>
                        <br>
                        Descripción {{ form.descripcion }}
                        <br>
                        <br>
                        Estudiante {{ form.estudiante }}
                        <br>
                        <br>
                        Autorizador {{ form.autorizador }}
                        <br>
                        <br>
                        <input type="submit" class="btn btn-primary" name="Enviar">
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>


            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mt-5 text-dark">
              <div class="card">
                <h5 class="card-header">Calamardo Tentáculos</h5>
                <p class="card-text"><small class="text-muted">Publicada 12/09/2022 15:30</small></p>
                <img src="https://p4.wallpaperbetter.com/wallpaper/414/654/483/fish-ocean-sea-sealife-wallpaper-preview.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Vida en el fondo del mar</h5>
                  <p class="card-text">Las maravillas del fondo marino se hacen ver a través del estudio de los oceanos</p>
                  <a href="#" class="btn btn-primary">Autorizar</a>
                </div>
              </div>
            </div>

            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mt-5 text-dark">
              <div class="card">
                <h5 class="card-header">Calamardo Tentáculos</h5>
                <p class="card-text"><small class="text-muted">Publicada 12/09/2022 15:30</small></p>
                <img src="https://p4.wallpaperbetter.com/wallpaper/414/654/483/fish-ocean-sea-sealife-wallpaper-preview.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Vida en el fondo del mar</h5>
                  <p class="card-text">Las maravillas del fondo marino se hacen ver a través del estudio de los oceanos</p>
                  <a href="#" class="btn btn-primary">Autorizar</a>
                </div>
              </div>
            </div>


          </div>
        </div>

      </div>
    </main>

{% endblock %}